<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update student</title>
</head>

<body>
    <form action="/updatestudent" method="post"></form>
    <input type="text" placeholder="Ime">
    <input type="text" placeholder="Prezime">
    <input type="text" placeholder="Prosek">
    <button>Update</button>
</body>

</html>